<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Quote App</title>
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style/styles.css">
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <!-- APPLICATION SCRIPTS -->
  <script src="/script/app.js"></script>

</head>
<body>
  <div class="container">
    <h1 class="text-center">Quote App</h1>
    <br/>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form class="form-inline text-center" id="newQuoteForm">
          <div class="form-group">
            <label for="quote">Quote</label>
            <input type="text" class="form-control" name="quote" placeholder="Write your message" required>
          </div>
          <br/>
          <br/>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Write your name" required>
          </div>
          <br/>
          <br/>
          <button type="submit" class="btn btn-default text-center">Post Quote</button>
        </form>
        <div id='QuoteTarget'>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
