<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Quote App</title>
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style/styles.css">
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <!-- APPLICATION SCRIPTS -->
  <script src="/script/app.js"></script>

</head>
<body>
  <h1 class="text-center">Quote App</h1>
  <h3 class="text-center">Log In</h3>
  <br>
  <form class="form-inline text-center" method="POST" action="/login">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" placeholder="Your username" required>
    </div>
    <br/>
    <br/>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="pword-input" class="form-control" name="password" placeholder="Your password" required>
      <br/>
      <input type="checkbox" id="show-pword" class="form-control" name="show-pword">
      <label for="show-pword"><small>Show Password?</small></label>
    </div>
    <br/>
    <br/>
    <button type="submit" class="btn btn-default text-center">Log In</button>
  </form>
</body>
</html>
